/* entire container, keeps perspective */
.presets-flipper-flip-main-container {
  perspective: 1000;
}

.presets-flipper-flip-add-update-container {
  perspective: 1000;
}

/* flip the pane when hovered */
.presets-flipper-flip-main-container.flip .presets-flipper-main-flipper {
  transform: rotateY(180deg);
}

.presets-flipper-flip-add-update-container.flip .presets-flipper-add-update-flipper {
  transform: rotateY(180deg);
}

/* flip speed goes here */
.presets-flipper-main-flipper {
  transition: 1.5s;
  transform-style: preserve-3d;

  position: relative;
}

.presets-flipper-add-update-flipper {
  transition: 1.5s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.presets-flipper-front, .presets-flipper-back {
  backface-visibility: hidden;
}

.presets-flipper-back {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.presets-flipper-front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.presets-flipper-back {
  transform: rotateY(180deg);
}

.presets-errors-animation {
  -webkit-animation: shake 1.0s;
  animation: shake 1.0s;
}
.presets-errors-animation.ng-active {
  -webkit-animation: shake 1.0s;
  animation: shake 1.0s;
}
.presets-errors-animation.ng-inactive {
  -webkit-animation: shake 1.0s;
  animation: shake 1.0s;
}

.presets-add-update-container-animation {}

.presets-add-update-container-animation.ng-hide-add {
  -webkit-animation-duration: 1.0s;
  animation-duration: 1.0s;
}

.presets-add-update-animation {}

.presets-add-update-animation.ng-hide-add {
  -webkit-animation: bounceOutUp 1.0s;
  animation: bounceOutUp 1.0s;
}

.presets-add-update-animation.ng-hide-remove {
  -webkit-animation: bounceInDown 1.0s;
  animation: bounceInDown 1.0s;
}

.presets-add-edit-overlay-animation {
  opacity: 0.6;
}

.presets-add-update-overlay-animation.ng-hide-add.ng-hide-add-active,
.presets-add-update-overlay-animation.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 1.0s;
  transition: all linear 1.0s;
}

.presets-add-update-overlay-animation.ng-hide {
  opacity: 0;
}

.preset-edit-mode-animation {}

.preset-edit-mode-animation.ng-hide-add {
  -webkit-animation: zoomOut 1.0s;
  animation: zoomOut 1.0s;
}

.preset-edit-mode-animation.ng-hide-remove {
  -webkit-animation: zoomIn 1.0s;
  animation: zoomIn 1.0s;
}

.preset-workspace-changed-animation {}

.preset-workspace-changed-animation.ng-enter {
  -webkit-animation: bounceInLeft 1.0s;
  animation: bounceInLeft 1.0s;
}

.preset-workspace-changed-animation.ng-leave {
  -webkit-animation: bounceOutLeft 1.0s;
  animation: bounceOutLeft 1.0s;
}

.preset-pic img {
  -webkit-transition: all 0.5s ease; /* Safari and Chrome */
  -moz-transition: all 0.5s ease; /* Firefox */
  -o-transition: all 0.5s ease; /* IE 9 */
  -ms-transition: all 0.5s ease; /* Opera */
  transition: all 0.5s ease;

  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
}

.preset-pic-hover img {
  -webkit-transform:scale(1.25); /* Safari and Chrome */
  -moz-transform:scale(1.25); /* Firefox */
  -ms-transform:scale(1.25); /* IE 9 */
  -o-transform:scale(1.25); /* Opera */
  transform:scale(1.25);

  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
  -ms-filter: grayscale(0);
}

@-webkit-keyframes wiggle {
  from {-webkit-transform: rotateZ(1deg);}
  50% {-webkit-transform: rotateZ(-1deg);}
  to {-webkit-transform: rotateZ(1deg);}
}

.preset-tile-hover-animation {
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}

.productBox {
  -webkit-animation-name: wiggle;
  -webkit-animation-duration: .4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
}
