<div class="container-fluid presets-full-height">
  <nav class="navbar presets-navbar" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#{{preset.id}}">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
          Presets
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="{{preset.id}}">
        <form class="navbar-form navbar-left" role="select">
          <div class="input-group">
            <select class="form-control select-workspace" ng-model="selectedWorkspace" ng-options="workspace.name for workspace in preset.workspacesList">
            </select>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default edit-refresh" ng-click="enterUpdateMode()" ng-show="currentWorkspace">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </button>
          </span>
          <span class="input-group-btn">
            <div>
              <button type="button" class="btn btn-default edit-refresh" ng-click="refresh()" ng-show="currentWorkspace">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
              </button>
            </div>
          </span>
          </div>
          <div class="form-group" ng-show="currentWorkspace">
            <span class="badge">modified: {{currentWorkspace.modified | date}}</span>
            <span class="badge">expires: {{currentWorkspace.expires | date}}</span>
          </div>
        </form>
        <form class="navbar-form navbar-right" role="edit">
          <button type="button" class="btn btn-default" ng-click="enterEditMode()">
            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-default" ng-click="enterAddMode()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </button>
        </form>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="presets-workspace-container presets-flipper-flip-main-container" ng-class="mainFlipTrigger">
    <div class="presets-full-height presets-flipper-main-flipper">
      <div workspace="workspaceData" class="presets-full-height presets-flipper-front"></div>
      <div class="presets-full-height presets-flipper-back">
        <div class="presets-workspace-container presets-flipper-flip-add-update-container" ng-class="addUpdateflipTrigger">
          <div class="presets-full-height presets-flipper-add-update-flipper">
            <div class="presets-full-height presets-flipper-front">
              <div ng-include="addWorkspaceUrl" ng-controller="addWorkspaceController"></div>
            </div>
            <div class="presets-full-height presets-flipper-back">
              <div ng-include="updateWorkspaceUrl" ng-controller="updateWorkspaceController"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
